@import "./Utilities.scss";

#root {
  @media #{$medium} {
    width: 80%;
    margin: 0 auto;
  }
}

.container {
  display: grid;
  grid-template-columns: 100%;

  @media #{$medium} {
    grid-template-columns: 0.625fr 0.375fr;
    column-gap: 2em;
  }
}
