@import "./Utilities.scss";

.creator-information {
  text-align: center;
  padding: 2em 2em 0 2em;

  @media #{$medium} {
    grid-column-end: span 2;
  }
}

.creator-information__name {
  background-color: hotpink;
  padding: 0.5em;
  font-size: 2em;

  @media #{$medium} {
    font-size: 3em;
  }
}
