@import "./Utilities.scss";

body {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
}

.creator-information__name {
  font-size: 2em;

  @media #{$medium} {
    font-size: 3em;
  }
}

// VIDEO STYLES

.video-preview {
  padding: 2em;

  @media #{$medium} {
    padding: 2em 0 2em 2em;
  }
}

.video-preview__selected-video-container {
  position: relative;
  width: 100%;
  /* This padding value is to approximate a 16:9 ratio for the container */
  padding-bottom: 56.25%;
}

.video-preview__selected-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-preview__information {
  position: absolute;
  bottom: 0;
  max-width: 62.5%;
}

.video-preview__section-title {
}

.video-preview__section-title,
.quick-stats__title {
  float: left;
  padding: 0.5em;
  margin-bottom: 1em;
  display: inline-block;
  background-color: hotpink;
  font-size: 1.25em;
  text-transform: uppercase;
}

.video-preview__selected-video-title {
  background-color: salmon;
  float: left;
  clear: left;
  display: inline-block;
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 1em;
}

// STAT STYLES

.quick-stats {
  padding: 0 2em 2em 2em;

  @media #{$medium} {
    padding: 2em 2em 2em 0;
  }
}

.quick-stats__list {
  clear: left;
}

.statistic {
  display: block;
  font-size: 2.5em;
  margin-top: 0.125em;
}

[class^="quick-stats__list--"] {
  margin-bottom: 1em;
  padding-left: 0.5em;
}
