@import "./Utilities.scss";

body {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
}

.creator-information__name {
  font-size: 2em;

  @media #{$medium} {
    font-size: 3em;
  }
}

// STAT STYLES

.quick-stats {
  padding: 0 2em 2em 2em;

  @media #{$medium} {
    padding: 2em 2em 2em 0;
  }
}

.quick-stats__list {
  clear: left;
}

.statistic {
  display: block;
  font-size: 2.5em;
  margin-top: 0.125em;
}

[class^="quick-stats__list--"] {
  margin-bottom: 1em;
  padding-left: 0.5em;
}
