$medium: "(min-width: 768px)";
$large: "(min-width: 1024px)";

body {
  font-family: Montserrat, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  background: coral;

  @media #{$medium} {
    width: 80%;
    margin: 0 auto;
    background: limegreen;
    grid-template-columns: 1fr 1fr;
  }

  @media #{$large} {
    background: orange;
  }
}

.video-preview__selected-video-container {
  position: relative;
  width: 100%;
  /* This padding value is to approximate a 16:9 ratio for the container */
  padding-bottom: 56.25%;
}

.video-preview__selected-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.creator-information {
  background-color: yellow;
  @media #{$medium} {
    grid-column-end: span 2;
  }
}
