@import "./Utilities.scss";

.quick-stats {
  padding: 0 2em 2em 2em;

  @media #{$medium} {
    padding: 2em 2em 2em 0;
  }
}

.quick-stats__list {
  clear: left;
}

.statistic {
  display: block;
  font-size: 2.5em;
  margin-top: 0.125em;
}

[class^="quick-stats__list--"] {
  margin-bottom: 1em;
  padding-left: 0.5em;
}
.quick-stats__title {
  float: left;
  padding: 0.5em;
  margin-bottom: 1em;
  display: inline-block;
  background-color: hotpink;
  font-size: 1.25em;
  text-transform: uppercase;
}
