.video-information {
  bottom: 0;
  right: 0;
  max-width: 62.5%;
  position: absolute;
  z-index: 999;
}

.video-information__section-title {
  float: right;
  padding: 0.5em;
  margin-bottom: 1em;
  display: inline-block;
  background-color: hotpink;
  font-size: 1.25em;
  text-transform: uppercase;
}

.video-information__selected-video-title {
  background-color: limegreen;
  float: left;
  clear: both;
  display: inline-block;
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 1em;
}
